<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.ghy.goodsSupplier.dao.cashierUserMapper">
    <select id="cashierUserList" resultType="cashierUser">
        SELECT * FROM w_cashier_user
        <where>
            <if test="title!=null"> title LIKE concat('%',#{title},'%') </if>
            <if test="name!=null">AND name = #{name}</if>
            <if test="clientId!=null">AND client_id = #{clientId}</if>
            <if test="mobile!=null">AND mobile = #{mobile}</if>
            <if test="api!=null">AND api = #{api}</if>
            <if test="status!=null">AND status = #{status}</if>
            <if test="nstatus!=null">AND nstatus = #{nstatus}</if>
        </where>
        ORDER BY sorts DESC
        LIMIT #{staLimit}, #{endLimit};
    </select>
    <!--    统计数量-->
    <select id="cashierUserCount" resultType="int">
        select COUNT(id) as sumCount FROM w_cashier_user
        <where>
            <if test="title!=null"> title LIKE concat('%',#{title},'%') </if>
            <if test="name!=null">AND name = #{name}</if>
            <if test="clientId!=null">AND client_id = #{clientId}</if>
            <if test="mobile!=null">AND mobile = #{mobile}</if>
            <if test="api!=null">AND api = #{api}</if>
            <if test="status!=null">AND status = #{status}</if>
            <if test="nstatus!=null">AND nstatus = #{nstatus}</if>
        </where>
    </select>

<!--    添加商户-->
    <insert id="insertCashierUser">
        INSERT INTO w_cashier_user(`title`, `logo`, `name`, `mobile`,
        `client_id`, `client_secret`, `api`, `status`, `account`, `category`, `notifyurl`,
        `iplist`, `perm`, `nstatus`, `version`, `is_area`, `is_miaofan`, `sorts`, `is_miaofan_1`,
        `is_miaofan_2`, `is_miaofan_3`, `is_miaofan_4`, `istj`)
        VALUES ( #{title}, #{logo}, #{name}, #{mobile}, #{clientId}, #{clientSecret}, #{api},
        #{status}, #{account}, #{category}, #{notifyurl}, #{iplist}, #{perm}, #{nstatus},
        #{version}, #{isArea}, #{isMiaoFan}, #{sorts}, #{isMiaoFan1}, #{isMiaoFan2}, #{isMiaoFan3}, #{isMiaoFan4}, #{istj});
    </insert>

<!--    条件更新商户-->
    <update id="updateCashierUser">

    </update>


    <!--  传入身份id和密钥，判断是否有该商户  -->
    <resultMap id="signCashierUserMap" type="java.util.HashMap">
        <result column="id" property="id"/>
    </resultMap>
    <select id="signCashierUser" resultMap="signCashierUserMap">
        SELECT id FROM w_cashier_user
        WHERE client_id=#{client_id} AND client_secret=#{client_secret}
    </select>
</mapper>