<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.ghy.goodsSupplier.dao.categoryMapper">
<!--    ========================= 产品类型 ======================    -->

<!--    获取产品类型列表 id和name-->
    <resultMap id="setCategoryIdAndName" type="java.util.HashMap">
        <result property="id" column="id" />
        <result property="name" column="name"/>
    </resultMap>

    <select id="categoryIdAndName" resultMap="setCategoryIdAndName">
        SELECT id,`name` FROM w_cashier_category where status = 1
    </select>

<!--    产品类型列表-->
    <select id="cashierCategoryList" resultType="cashierCategory">
        SELECT * FROM w_cashier_category
        <where>
            <if test="name!=null">
                `name` LIKE concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                AND `status` = #{status}
            </if>
        </where>
        LIMIT #{staLimit}, #{endLimit};
    </select>

    <!--    统计数量-->
    <select id="sumCount" resultType="int">
        select COUNT(id) as sumCount FROM ${tableName}
        <where>
            <if test="name!=null">
                `name` LIKE concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                AND `status` = #{status}
            </if>
        </where>
    </select>

<!--    添加产品类型-->
    <insert id="insertCashierCategory">
        INSERT INTO w_cashier_category(`name`,`status`)
        VALUES (#{name},#{status});
    </insert>

<!--    条件更新产品类型-->
    <update id="updateCashierCategory">
        UPDATE w_cashier_category
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        where id=#{id}
    </update>

<!--    =============================业务类型 ↓ =======================-->

<!--    获取所以启用的业务类型 id 和 name-->
    <resultMap id="setGoodsCategoryIdAndName" type="java.util.HashMap">
        <result property="id" column="id" />
        <result property="name" column="name"/>
    </resultMap>

    <select id="goodsCategoryIdAndName" resultMap="setGoodsCategoryIdAndName">
        SELECT id,`name` FROM w_goods_category where status = 1
    </select>

    <!--    业务类型列表-->
    <select id="goodsCategoryList" resultType="goodsCategory">
        SELECT * FROM w_goods_category
        <where>
            <if test="name!=null">`name` LIKE concat('%',#{name},'%')</if>
            <if test="status!=null">AND `status` = #{status}</if>
        </where>
        LIMIT #{staLimit}, #{endLimit};
    </select>

    <!--    添加产品类型-->
    <insert id="insertGoodsCategory">
        INSERT INTO w_goods_category(`name`,`status`,displaycover)
        VALUES (#{name},#{status},#{displaycover});
    </insert>

    <!--    条件更新产品类型-->
    <update id="updateGoodsCategory">
        UPDATE w_goods_category
        <set>
            <if test="name!=null">name = #{name},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="displaycover!=null">displaycover = #{displaycover}</if>
        </set>
        where id=#{id}
    </update>

<!--    ======================== 产品策略 ======================-->
</mapper>