<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.ghy.goodsSupplier.dao.goodsListMapper">
    <select id="goodsList" resultType="goods">
        SELECT a.id,a.`name`,a.sn,a.price,b.`name` AS fromid,c.`name` AS categoryid,a.`status`
        FROM w_goods a LEFT JOIN w_goods_category b ON a.fromid = b.id
        LEFT JOIN w_cashier_category c ON a.categoryid = c.id
        <where>
            <if test="sn!=null">sn = #{sn}</if>
            <if test="fromid!=null">AND a.fromid = #{fromid}</if>
            <if test="price!=null">AND price = #{price}</if>
            <if test="categoryid!=null">AND a.categoryid = #{categoryid}</if>
            <if test="status!=null">AND status = #{status}</if>
        </where>
        GROUP BY a.id LIMIT #{staLimit}, #{endLimit};
    </select>
<!--    统计数量-->
    <select id="goodsCount" resultType="int">
        select COUNT(id) as sumCount FROM w_goods
        <where>
            <if test="sn!=null">sn = #{sn}</if>
            <if test="fromid!=null">AND fromid = #{fromid}</if>
            <if test="price!=null">AND price = #{price}</if>
            <if test="categoryid!=null">AND categoryid = #{categoryid}</if>
            <if test="status!=null">AND status = #{status}</if>
        </where>
    </select>

    <!--  添加产品  -->
    <insert id="insterGoods">
        INSERT INTO w_goods(`sn`, `name`, `price`, `categoryid`, `fromid`, `status`)
        VALUES (#{sn}, #{name}, #{price}, #{categoryid}, #{fromid}, #{status});
    </insert>

<!--    条件更新产品列表-->
    <update id="updateGoodsList">
        UPDATE w_goods
        <set>
            <if test="sn!=null">sn = #{sn},</if>
            <if test="name!=null">name = #{name},</if>
            <if test="price!=null">price = #{price},</if>
            <if test="categoryid!=null">categoryid = #{categoryid},</if>
            <if test="fromid!=null">fromid = #{fromid},</if>
            <if test="status!=-1">status = #{status},</if>
        </set>
        where id=#{id}
    </update>

<!--    根据产品编号判断该产品是否下架或者是不存在，再对比金额是否对的上-->
    <select id="isBySn" resultType="goods">
        SELECT id,price,categoryid,fromid FROM w_goods WHERE sn = #{sn} AND `status` = 1;
    </select>
</mapper>