<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.ghy.inOrder.dao.zongHePayLogMapper">

    <select id="getTableMaxId" resultType="int">
        SELECT IFNULL((SELECT id FROM ${tableName} ORDER BY ${columnName} DESC LIMIT 1),0) AS id;
    </select>

    <insert id="insertZongHe">
        INSERT INTO ${tablename}(account,cashierid,supplierid,goodsid,goodssn,location,logno,money,out_logno,
        status,category,fromid,createtime,paytime,tablename )
        VALUES( #{account},#{cashierid},#{supplierid},#{goodsid},#{productsn},#{location},#{logno},#{money},
        #{outLogno},#{status},#{category},#{fromid},#{createtime},#{paytime},#{tablename})
    </insert>

    <resultMap id="CountDGroup" type="java.util.HashMap">
        <result property="userCount" column="userCount"/>
        <result property="moneyCount" column="moneyCount"/>
    </resultMap>

    <select id="getCountZongHe" resultMap="CountDGroup">
        SELECT COUNT(*) AS userCount,
        SUM(money) AS moneyCount
        FROM ${tableName}
    </select>

    <!-- 根据ID删除数据 -->
    <delete id="delZongHeById">
        DELETE FROM ${tableName} WHERE id = #{id}
    </delete>

    <!-- 删除所有数据-->
    <delete id="delAllZongHePayLog">
        DELETE FROM ${tableName}
    </delete>

    <select id="getSelectZongHelimit" resultType="int">
        SELECT COUNT(*) AS sumUser FROM ${tableName}
        <where>
            <if test="account!=null">account = #{account}</if>
            <if test="logno!=null">AND logno = #{logno}</if>
            <if test="money!=null">AND money = #{money}</if>
            <if test="status!=-1">AND status = #{status}</if>
        </where>
    </select>


<!--    分页获取数据 通过条件找出id范围来查询，避免全表-->
    <select id="getAllZongHelimit" resultType="zonghePayLog">
        SELECT *,goodssn AS productsn
        FROM ${tableName}
        <where>
            id &lt;= (SELECT id FROM ${tableName}
            <where>
                <if test="account!=null">AND account = #{account}</if>
                <if test="logno!=null">AND logno = #{logno}</if>
                <if test="money!=null">AND money = #{money}</if>
                <if test="status!=null">AND status = #{status}</if>
            </where>
            ORDER BY id DESC LIMIT #{stat},1)
            <if test="account!=null">AND account = #{account}</if>
            <if test="logno!=null">AND logno = #{logno}</if>
            <if test="money!=null">AND money = #{money}</if>
            <if test="status!=null">AND status = #{status}</if>
        </where>
        ORDER BY id DESC LIMIT #{end}
    </select>

<!--    条件更新数据-->
    <update id="updateZongHe">
        UPDATE ${tablename}
        <set>
            <if test="status!=0">status=#{status},</if>
            <if test="paytime!=null">paytime = #{paytime}</if>
        </set>
        WHERE logno = #{logno}
    </update>

<!--    通过Id获取数据-->
    <select id="getZonghePayLogById" resultType="zonghePayLog">
        SELECT *,goodssn AS productsn
        FROM ${tableName} WHERE id = #{id}
    </select>

    <!-- 重置自增 -->
    <select id="alterAutoInt">
        ALTER TABLE ${tableName} AUTO_INCREMENT=1;
    </select>
</mapper>