<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE" />

<!--    &lt;!&ndash;设置日志目录&ndash;&gt;-->
<!--    <property name="LOG_HOME" value="../../"/>-->
<!--    &lt;!&ndash;这里需要将value改成项目名称&ndash;&gt;-->
<!--    <property name="LOG_NAME" value="renren"/>-->


    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO" />
        <logger name="io.renren" level="DEBUG" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR" />
        <logger name="io.renren" level="ERROR" />
        <logger name="io.renren" level="INFO" />

<!--        错误日志输出，保存3天-->
        <appender name="rollingErroFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--文件路径：可使用ognl-->
                <fileNamePattern>./renren-erro.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!--每个文件最大100MB；保存3天；总文件最多20GB-->
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>3</maxHistory>
                <totalSizeCap>500MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}    %magenta([%thread])     %-5level    %blue([%c]：)     %green([%L])    [%msg]%n</pattern>
            </encoder>
        </appender>

        <!-- 文件日志策略：每天生成一个日志文件，保存3天的日志文件-->
        <appender name="rollingInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--文件路径：可使用ognl-->
                <fileNamePattern>./renren-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!--每个文件最大100MB；保存3天；总文件最多500M-->
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>3</maxHistory>
                <totalSizeCap>500MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}    %magenta([%thread])     %-5level    %blue([%c]：)     %green([%L])    [%msg]%n</pattern>
            </encoder>
        </appender>


        <root level="ERROR">
            <appender-ref ref="rollingErroFile" />
        </root>
        <root level="INFO">
            <appender-ref ref="rollingInfoFile" />
        </root>
    </springProfile>


</configuration>