<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.transfer.commercial.mapper.commercialOrderMapper">


    <!--    条件获取商户订单列表-->
    <select id="getCommercialOrderList" resultType="commercialOrder">
        SELECT * FROM commercial_order
        <where>
            id &lt;= (SELECT id FROM commercial_order
            <where>
                <if test="commercialId!=null">AND commercial_id = #{commercialId}</if>
                <if test="commercialNo!=null">AND commercial_no = #{commercialNo}</if>
                <if test="logno!=null">AND logno = #{logno}</if>
                <if test="notifyStatus!=null">AND notify_status = #{notifyStatus}</if>
                <if test="normalStatus!=null">AND normal_status = #{normalStatus}</if>
                <if test="urlStatus!=null">AND url_status = #{urlStatus}</if>
                <if test="money!=null">AND money = #{money}</if>
                <if test="zfType!=null">AND zf_type = #{zfType}</if>
                <if test="passage!=null">AND passage = #{passage}</if>
                <if test="payStatus!=null">AND pay_status = #{payStatus}</if>
                <if test="startTime!=null and endTime!=null">
                    AND stat_time BETWEEN #{startTime} AND #{endTime}
                </if>
            </where>
            ORDER BY id DESC LIMIT #{stat},1)
            <if test="commercialId!=null">AND commercial_id = #{commercialId}</if>
            <if test="commercialNo!=null">AND commercial_no = #{commercialNo}</if>
            <if test="logno!=null">AND logno = #{logno}</if>
            <if test="notifyStatus!=null">AND notify_status = #{notifyStatus}</if>
            <if test="normalStatus!=null">AND normal_status = #{normalStatus}</if>
            <if test="urlStatus!=null">AND url_status = #{urlStatus}</if>
            <if test="money!=null">AND money = #{money}</if>
            <if test="zfType!=null">AND zf_type = #{zfType}</if>
            <if test="passage!=null">AND passage = #{passage}</if>
            <if test="payStatus!=null">AND pay_status = #{payStatus}</if>
            <if test="startTime!=null and endTime!=null">
                AND stat_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY id DESC LIMIT #{end}
    </select>

    <!--    获取总数量-->
    <resultMap id="sumCount" type="java.util.HashMap">
        <result property="sumCount" column="sumCount"/>
        <result property="moneyCount" column="moneyCount"/>
    </resultMap>
    <select id="sumCommercialOrder" resultMap="sumCount">
        SELECT COUNT(*) AS sumCount,
        SUM(money) AS moneyCount FROM commercial_order
        <where>
            <if test="commercialId!=null">AND commercial_id = #{commercialId}</if>
            <if test="commercialNo!=null">AND commercial_no = #{commercialNo}</if>
            <if test="logno!=null">AND logno = #{logno}</if>
            <if test="notifyStatus!=null">AND notify_status = #{notifyStatus}</if>
            <if test="normalStatus!=null">AND normal_status = #{normalStatus}</if>
            <if test="urlStatus!=null">AND url_status = #{urlStatus}</if>
            <if test="money!=null">AND money = #{money}</if>
            <if test="zfType!=null">AND zf_type = #{zfType}</if>
            <if test="passage!=null">AND passage = #{passage}</if>
            <if test="payStatus!=null">AND pay_status = #{payStatus}</if>
            <if test="startTime!=null and endTime!=null">
                AND stat_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

<!--    商户进单-->
    <insert id="insertCommercialOrder">
        INSERT INTO commercial_order(commercial_id,commercial_no,cashier_id,logno,account,money,zf_type,type,ipaddr,
                                     area,telephone_type,phone_type,normal_status,url_status,notify_url,node,passage,stat_time,
                                     end_time)
        VALUES (#{commercialId},#{commercialNo},#{cashierId},#{logno},#{account},#{money},#{zfType},#{type},#{ipaddr},#{area},#{telephoneType},#{phoneType},
                #{normalStatus},#{urlStatus},#{notifyUrl},#{node},#{passage},#{statTime},#{endTime})
    </insert>

<!--    更新商户订单-->
    <update id="updateCommercialOrder">
        UPDATE commercial_order
        <set>
            <if test="urlStatus!=null">url_status = #{urlStatus},</if>
            <if test="notifyStatus!=null">notify_status = #{notifyStatus},</if>
            <if test="payStatus!=null">pay_status = #{payStatus},</if>
            <if test="endTime!=null">end_time = #{endTime},</if>
        </set>
        where commercial_no = #{commercialNo}
    </update>

<!--    根据订单状态查询订单-->
    <select id="getCommercialOrderByStatus" resultType="commercialOrder">
        select * from commercial_order
        <where>
            <if test="notifyStatus!=null">AND notify_status = #{notifyStatus}</if>
            <if test="normalStatus!=null">AND normal_status = #{normalStatus}</if>
            <if test="urlStatus!=null">AND url_status = #{urlStatus}</if>
            <if test="payStatus!=null">AND pay_status = #{payStatus}</if>
        </where>
    </select>
</mapper>