<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.transfer.linkSupplier.mapper.supplierLocationMapper">

    <!--    条件获取商户列表-->
    <select id="getSupplierLocationList" resultType="supplierLocation">
        SELECT * FROM supplier_location
        <where>
            <if test="title!=null">AND title like CONCAT('%', #{title}, '%')</if>
            <if test="type!=null">AND type = #{type}</if>
            <if test="zfType!=null">AND zf_type = #{zfType}</if>
            <if test="status!=null">AND status = #{status}</if>
        </where>
        limit #{stat},#{end}
    </select>
    <!--    统计商户页-->
    <select id="sumCount" resultType="int">
        SELECT COUNT(*) AS sumCount FROM supplier_location
        <where>
            <if test="title!=null">AND title like CONCAT('%', #{title}, '%')</if>
            <if test="type!=null">AND type = #{type}</if>
            <if test="zfType!=null">AND zf_type = #{zfType}</if>
            <if test="status!=null">AND status = #{status}</if>
        </where>
    </select>

    <!--    新增-->
    <insert id="insertSupplierLocation">
        INSERT INTO supplier_location (title,type,zf_type,phone_type, remake)
        VALUES (#{title},#{type},#{zfType},#{phoneType},#{remake});
    </insert>

    <!--    更新-->
    <update id="updateSupplierLocation">
        UPDATE supplier_location
        <set>
            <if test="title!=null">title = #{title},</if>
            <if test="type!=null">type = #{type},</if>
            <if test="zfType!=null">zf_type = #{zfType},</if>
            <if test="phoneType!=null">phone_type = #{phoneType},</if>
            <if test="locationList!=null">location_list = #{locationList},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="remake!=null">remake = #{remake},</if>
        </set>
        WHERE id = #{id}
    </update>

<!--    根据id查询通道-->
    <select id="getSupplierLocationById" resultType="supplierLocation">
        SELECT * FROM supplier_location where id = #{id} AND status = 1
    </select>

    <resultMap id="PassageIdAndName" type="java.util.HashMap">
        <result property="id" column="id" />
        <result column="title" property="title"/>
    </resultMap>

<!--   获取通道的id和名称 -->
    <select id="getPassageIdAndName" resultMap="PassageIdAndName">
        SELECT id,title FROM supplier_location
    </select>
</mapper>